In [1]:
import pandas as pd
usd_data = pd.read_csv('./data/usd.csv',encoding='euc-kr')

In [19]:
nickel_stable_data = pd.read_excel('./data/6.4. Production_of_Mineral_Raw_Materials_of_individual_Countries_by_Minerals.xlsx')

In [20]:
nickel_stable_data

,"6.4. Production of Mineral Raw Materials of individual Countries, by Minerals; column A country, column B physical unit, column C to G years, column H data source: r=reported figure, e=estimated figure, p=provisional figure.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Country,unit,2.018000e+03,2.019000e+03,2020,2021,2022,data source
1,Algeria,metr. t,1.178800e+06,1.068600e+06,1016200,942000,1074000,e
2,Angola,metr. t,NaN,NaN,0,96280,5880,r
3,Argentina,metr. t,4.056000e+04,0.000000e+00,0,0,0,r
4,Australia,metr. t,5.597017e+08,5.673450e+08,567788649,570160503,584413159,r
5,Austria,metr. t,8.971320e+05,1.037470e+06,973840,1059550,1035770,r
6,Bhutan,metr. t,2.422000e+04,2.359000e+04,9430,16590,2230,r
7,Bolivia,metr. t,4.156000e+04,4.583000e+04,15410,17010,215940,r
8,Bosnia-Herzegovina,metr. t,7.040500e+05,7.396000e+05,727980,792500,771530,r
9,Brazil,metr. t,2.876177e+08,2.553394e+08,245889636,268066382,250993847,r
10,Canada,metr. t,3.218080e+07,3.445780e+07,36995000,35542900,42073900,r
11,Chile,metr. t,8.942638e+06,8.427224e+06,9890886,11163294,11059801,r
12,China,metr. t,2.092438e+08,2.193750e+08,225400000,215700000,212900000,e
13,Colombia,metr. t,3.539500e+05,3.002400e+05,354200,337540,223870,r
14,"Congo, Rep.",metr. t,1.080000e+04,2.020000e+04,3400,20200,20200,r
15,Egypt,metr. t,2.507000e+05,4.820000e+04,1900,5800,6000,e
16,Fiji,metr. t,0.000000e+00,3.590000e+04,35200,49400,28800,r
17,Germany,metr. t,8.290000e+04,9.410000e+04,95500,87500,86000,r
18,Guatemala,metr. t,2.590000e+03,3.000000e+01,0,0,0,r
19,Guinea,metr. t,NaN,0.000000e+00,418800,1140800,197900,r
20,India,metr. t,1.296157e+08,1.518271e+08,125963950,156024500,158405600,p
21,Indonesia,metr. t,6.000000e+05,1.379300e+06,2951100,3300000,3000000,e
22,Iran,metr. t,2.470000e+07,2.830500e+07,33660000,34980000,36874200,r
23,Kazakhstan,metr. t,1.296880e+07,1.427875e+07,15105100,15966300,12567100,r
24,"Korea, North",metr. t,2.082800e+06,1.796400e+06,1640800,1684000,1647800,r
25,"Korea, South",metr. t,2.295300e+05,2.054100e+05,345140,323140,260400,r
26,Laos,metr. t,5.950000e+04,2.821800e+05,607830,2113560,1076900,r
27,Liberia,metr. t,2.794300e+06,2.657200e+06,2924600,2520000,2640000,r
28,Malawi,metr. t,1.540000e+03,1.800000e+03,3010,2990,590,r
29,Malaysia,metr. t,2.112790e+06,2.621100e+06,3383990,3070930,3094320,r
30,Mauritania,metr. t,7.005800e+06,8.013100e+06,8243500,8185200,8465400,r
31,Mexico,metr. t,8.412810e+06,1.033127e+07,10774600,13430600,10963300,r
32,Mongolia,metr. t,3.486220e+06,4.800430e+06,5165660,5136260,4289540,r
33,Morocco,metr. t,1.852000e+04,7.150000e+03,14090,8870,10000,e
34,Namibia,metr. t,8.730000e+03,8.400000e+03,27570,51490,0,r
35,Nepal,metr. t,1.800000e+02,1.200000e+02,770,0,0,r
36,New Zealand,metr. t,2.100000e+06,1.915000e+06,2260000,2200000,2280000,e
37,Nigeria,metr. t,7.000000e+02,1.830000e+04,2400,1300,6700,r
38,Norway,metr. t,1.129900e+06,1.069700e+06,1014700,1057500,1105900,r
39,Pakistan,metr. t,2.573400e+05,2.384400e+05,218000,306160,272570,r
40,Peru,metr. t,9.096994e+06,9.666412e+06,8893972,12149274,12936826,r
41,Philippines,metr. t,0.000000e+00,0.000000e+00,25700,40900,45500,r
42,Russia,metr. t,6.419200e+07,6.572600e+07,65372000,59375800,56109000,r
43,Saudi Arabia,metr. t,2.801000e+05,2.941000e+05,275000,335200,351700,r
44,Sierra Leone,metr. t,5.618000e+05,4.189500e+05,0,950300,1230000,r
45,South Africa,metr. t,4.827743e+07,4.706441e+07,36163000,47554200,41414300,r
46,Spain,metr. t,NaN,NaN,0,36580,0,r
47,Sweden,metr. t,1.840500e+07,1.936720e+07,20112200,19964200,18799000,r
48,Tanzania,metr. t,NaN,0.000000e+00,14200,39100,25500,r
49,Thailand,metr. t,0.000000e+00,1.095000e+04,70210,201450,117800,r
50,Tunisia,metr. t,9.500000e+04,1.007000e+05,93400,143900,140000,e
51,Türkiye,metr. t,9.546700e+06,8.828800e+06,13087300,9791300,11928200,r
52,Uganda,metr. t,2.700000e+03,0.000000e+00,0,34300,61600,r
53,Ukraine,metr. t,3.875130e+07,4.758400e+07,49274000,52431000,22354000,r
54,United States,metr. t,3.118500e+07,2.954700e+07,24100000,30100000,24687000,r
55,Uruguay,metr. t,2.520000e+03,2.510000e+03,1240,3310,2220,r
56,Venezuela,metr. t,2.017500e+06,2.062800e+06,1159000,1372500,4575000,r
57,Vietnam,metr. t,3.353100e+06,3.663400e+06,2136200,1850300,1105800,p
58,Total,metr. t,1.524626e+09,1.552452e+09,1524700263,1591934663,1547952593,NaN

In [2]:
gdp_data = pd.read_csv('./data/imf-dm-export-20240606_4.csv')
gdp_data = gdp_data[2:] 
gdp_data = gdp_data[:-3]

In [4]:
gdp_data.to_csv("gdp_1980_2029.csv", index = False)

In [5]:
nickel_stable_data = pd.read_excel('./data/니켈_수급안정화지수.xls')
nickel_stable_data.drop(columns=["Unnamed: 0"], axis=1,inplace=True)
nickel_stable_data.rename(columns={"Unnamed: 1" : "기준일" , "Unnamed: 2" : "수급안정화지수","Unnamed: 3": "전월대비등락가","Unnamed: 4":"전월대비 등락율"},inplace=True)
nickel_stable_data = nickel_stable_data[2:]

In [7]:
nickel_stable_data.to_csv("nickel_stable_201701_202405.csv", index = False)

In [8]:
nickel_market_data = pd.read_excel('./data/니켈_시장전망지표.xls')
nickel_market_data.drop(columns=["Unnamed: 0"], axis=1,inplace=True)
nickel_market_data.rename(columns={"Unnamed: 1" : "기준일" , "Unnamed: 2" : "시장전망지표","Unnamed: 3": "전월대비등락가","Unnamed: 4":"전월대비 등락율"},inplace=True)
nickel_market_data = nickel_market_data[2:]

In [10]:
nickel_market_data.to_csv("nickel_market_200801_202405.csv", index = False)

In [11]:
country_spent_data = pd.read_csv('./data/한국광해광업공단_광종별 소비현황_20231231.csv',encoding='euc-kr')
nickel_country_spent_data = country_spent_data[country_spent_data["광종"]=="니켈"]

In [13]:
nickel_country_spent_data.to_csv("nickel_country_spent_data_2011_2023.csv", index = False)

In [15]:
nickel_price_data = pd.read_excel('./data/니켈_광물가격.xls')

nickel_price_data.drop(columns=["Unnamed: 0"], axis=1,inplace=True)

nickel_price_data = nickel_price_data[8:]
nickel_price_data.rename(columns={"Unnamed: 1" : "기준일" , "Unnamed: 2" : "기준가격","Unnamed: 3": "등락가","Unnamed: 4":"등락비율","Unnamed: 5":"재고량"},inplace=True)
nickel_price_data = nickel_market_data[1:]

In [17]:
nickel_price_data.to_csv("nickel_price_200801_202405.csv", index = False)