In [1]:
import csv
import pandas as pd

https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data/data?select=GlobalLandTemperaturesByMajorCity.csv
날짜: 평균 육지 온도는 1750년에 시작하고 최대 및 최소 육지 온도와 전 세계 해양 및 육지 온도는 1850년에 시작됩니다.
LandAverageTemperature: 지구 평균 육지 온도(섭씨)
LandAverageTemperatureUncertainty: 평균에 대한 95% 신뢰 구간
LandMaxTemperature: 지구 평균 최대 육지 온도(섭씨)
LandMaxTemperatureUncertainty: 최대 육지 온도에 대한 95% 신뢰 구간
LandMinTemperature: 지구 평균 최저 육지 온도(섭씨)
LandMinTemperatureUncertainty: 최소 토지 온도에 대한 95% 신뢰 구간
LandAndOceanAverageTemperature: 지구 평균 육지와 바다 온도(섭씨)
LandAndOceanAverageTemperatureUncertainty: 지구 평균 육지 및 해양 온도에 대한 95% 신뢰 구간

국가별 세계 평균 토지 온도( GlobalLandTemperaturesByCountry.csv )
주별 지구 평균 토지 온도( GlobalLandTemperaturesByState.csv )
주요 도시별 지구 온도( GlobalLandTemperaturesByMajorCity.csv )
도시별 지구 온도( GlobalLandTemperaturesByCity.csv )

1. 데이터불러오기
2. 불필요한 변수제거
3. 결측치 처리
4. 이상치 확인 시각화 및 제거
5. 전처리 끝 데이터 저장
6. 데이터 병합
7. x,y값 시각화
8. 데이터 스케일링
9. 학습/테스트 분리
10. 모델링(하이퍼파라미터 모델 성능 시각화 함수를 쓰자)https://heytech.tistory.com/150

# 데이터 불러오기 + 불필요한 변수제거없음 + 데이터 저장

In [2]:
주요_도시별_지구_온도 = pd.read_csv("./data/GlobalLandTemperaturesByMajorCity.csv")
국가별_세계_평균_토지_온도 = pd.read_csv("./data/GlobalLandTemperaturesByCountry.csv")
도시별_지구_온도 = pd.read_csv("./data/GlobalLandTemperaturesByCity.csv")
주별_지구_평균_토지_온도 = pd.read_csv("./data/GlobalLandTemperaturesByState.csv")
지구_온도 = pd.read_csv("./data/GlobalTemperatures.csv")

In [3]:
# 주요_도시별_지구_온도 = 주요_도시별_지구_온도[["dt","AverageTemperature","AverageTemperatureUncertainty","City","Country"]]
주요_도시별_지구_온도.rename(columns={"dt" : "날짜" , "AverageTemperature" : "평균 온도" , "AverageTemperatureUncertainty" : "평균 온도 불확도",
                             "City" : "도시" , "Country" : "국가","Latitude" : "위도", "Longitude" : "경도"} ,inplace=True)

In [4]:
국가별_세계_평균_토지_온도.rename(columns={"dt" : "날짜" , "AverageTemperature" : "평균 온도" , "AverageTemperatureUncertainty" : "평균 온도 불확도",
                             "City" : "도시" , "Country" : "국가"} ,inplace=True)

In [5]:
# 도시별_지구_온도 = 도시별_지구_온도[["dt","AverageTemperature","AverageTemperatureUncertainty","City","Country"]]
도시별_지구_온도.rename(columns={"dt" : "날짜" , "AverageTemperature" : "평균 온도" , "AverageTemperatureUncertainty" : "평균 온도 불확도",
                             "City" : "도시" , "Country" : "국가", "Latitude" : "위도", "Longitude" : "경도"} ,inplace=True)

In [6]:
주별_지구_평균_토지_온도.rename(columns={"dt" : "날짜" , "AverageTemperature" : "평균 온도" , "AverageTemperatureUncertainty" : "평균 온도 불확도",
                             "City" : "도시" , "Country" : "국가"} ,inplace=True)

In [7]:
지구_온도.rename(columns={"dt" : "날짜" , "LandAverageTemperature" : "육지 평균 온도" , "LandAverageTemperatureUncertainty" : "육지 평균 온도 불확도",
                             "LandMaxTemperature" : "육지 최고 온도", "LandMaxTemperatureUncertainty" : "육지 최고 온도 불확도",
                      "LandMinTemperature" : "육지 최저 온도", "LandMinTemperatureUncertainty" : "육지 최저 온도 불확도" ,
                      "LandAndOceanAverageTemperature" : "육지 바다 평균 온도" , "LandAndOceanAverageTemperatureUncertainty" : "육지 바다 평균 온도 불확도",
                      } ,inplace=True)

In [8]:
주요_도시별_지구_온도.to_csv("주요_도시별_지구_온도.csv",index=False)
국가별_세계_평균_토지_온도.to_csv("국가별_세계_평균_토지_온도.csv",index=False)
도시별_지구_온도.to_csv("도시별_지구_온도.csv",index=False)
주별_지구_평균_토지_온도.to_csv("주별_지구_평균_토지_온도.csv",index=False)
지구_온도.to_csv("지구_온도.csv",index=False)

# 데이터 통합 최정 date set 저장

In [9]:
type(지구_온도["날짜"])

pandas.core.series.Series

In [10]:
from datetime import datetime

In [11]:
지구_온도["날짜"] = pd.to_datetime(지구_온도["날짜"], format='%Y-%m-%d')

In [12]:
type(도시별_지구_온도["날짜"])

pandas.core.series.Series

In [13]:
도시별_지구_온도["날짜"] = pd.to_datetime(도시별_지구_온도["날짜"], format='%Y-%m-%d')

In [14]:
도시별_지구_온도["위도"] = 도시별_지구_온도["위도"].str.split("N").str[0]
도시별_지구_온도["경도"] = 도시별_지구_온도["경도"].str.split("E").str[0]

In [15]:
도시별_지구_온도.to_csv("도시별_지구_온도.csv",index=False)

In [16]:
도시별_지구_온도.head(1)

          날짜  평균 온도  평균 온도 불확도     도시       국가     위도     경도
0 1743-11-01  6.068      1.737  Århus  Denmark  57.05  10.33

In [17]:
온도 = 도시별_지구_온도.merge(지구_온도, on="날짜", how="outer")

In [18]:
온도.to_csv("온도.csv",index=False)

# 데이터 전처리

온도 #1743-11-01 ~ #2015-12-01

In [19]:
import pandas as pd

In [20]:
# 정답_온도 = pd.read_csv("./city_temperature_answer.csv") #low_memory
정답_온도 = pd.read_csv("./city_temperature_answer.csv", dtype={'column_name': object}, low_memory=False)

In [21]:
정답_온도.head(1)

   Region  Country State     City  Month  Day    Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers    1.0  1.0  1995.0            64.2

In [22]:
온도 = pd.read_csv("./온도.csv",low_memory=False)

지구_온도 #1750 01 01 2015 12 01
도시별_지구_온도 #1743-11-01 2013-09-01

In [23]:
도시별_지구_온도 = pd.read_csv("./도시별_지구_온도.csv",low_memory=False)

In [24]:
도시별_지구_온도.head(1)

           날짜  평균 온도  평균 온도 불확도     도시       국가     위도     경도
0  1743-11-01  6.068      1.737  Århus  Denmark  57.05  10.33

In [26]:
# 도시별_지구_온도
도시별_지구_온도[도시별_지구_온도["평균 온도"].isna()].sort_values("날짜").tail(20)

                 날짜  평균 온도  평균 온도 불확도          도시           국가     위도      경도
2889440  2013-09-01    NaN        NaN    Haridwar        India  29.74   77.54
2895292  2013-09-01    NaN        NaN      Hassan        India  13.66   76.79
2897663  2013-09-01    NaN        NaN     Hat Yai     Thailand   7.23   99.73
2900276  2013-09-01    NaN        NaN     Hathras        India  28.13   77.27
2904866  2013-09-01    NaN        NaN   Hazaribag        India  23.31   84.76
2907184  2013-09-01    NaN        NaN        Hebi        China  36.17  113.37
2909257  2013-09-01    NaN        NaN       Hefei        China  31.35  116.86
2911470  2013-09-01    NaN        NaN      Hegang        China  47.42  131.45
2954724  2013-09-01    NaN        NaN      Hikone        Japan  34.56  136.22
2914709  2013-09-01    NaN        NaN  Heidelberg      Germany  49.03    9.80
2920266  2013-09-01    NaN        NaN   Heilbronn      Germany  49.03    9.80
2923505  2013-09-01    NaN        NaN    Helsinki      Finland  60.27   25.95
2927863  2013-09-01    NaN        NaN    Hengshan        China  45.81  130.38
2930181  2013-09-01    NaN        NaN    Hengshui        China  37.78  115.93
2932263  2013-09-01    NaN        NaN    Hengyang        China  26.52  112.84
2934876  2013-09-01    NaN        NaN     Henzada        Burma  16.87   95.44
2936991  2013-09-01    NaN        NaN       Herat  Afghanistan  34.56   62.27
2942375  2013-09-01    NaN        NaN       Herne      Germany  52.24    7.88
2917027  2013-09-01    NaN        NaN       Heihe       Russia  50.63  128.03
8599211  2013-09-01    NaN        NaN      Zwolle  Netherlands  52.24    5.26

In [25]:
온도.isnull().sum()

날짜                       0
평균 온도               364157
평균 온도 불확도           364157
도시                      27
국가                      27
위도                      27
경도                      27
육지 평균 온도             60728
육지 평균 온도 불확도         60728
육지 최고 온도           1737451
육지 최고 온도 불확도       1737451
육지 최저 온도           1737451
육지 최저 온도 불확도       1737451
육지 바다 평균 온도        1737451
육지 바다 평균 온도 불확도    1737451
dtype: int64

데이터 클러스터링 -> KNN -> 다중회귀